/* ---> Container for food category banner images <-------------- */

.category-img {
    height: 150px;
    filter: drop-shadow(1px 2px 3px black);
}

.category-img>h3 {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #494949;
    font-size: 32px;
}

.category-bg0 {
    background-image: url("../assets/img/beliebt.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg1 {
    background-image: url("../assets/img/vorspeisen.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg2 {
    background-image: url("../assets/img/salate.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg3 {
    background-image: url("../assets/img/fleisch.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg4 {
    background-image: url("../assets/img/fisch.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg5 {
    background-image: url("../assets/img/vegetarisch.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg6 {
    background-image: url("../assets/img/dessert.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg7 {
    background-image: url("../assets/img/biere.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg8 {
    background-image: url("../assets/img/wein.jpg");
    background-size: cover;
    background-position: center;
}

.category-bg9 {
    background-image: url("../assets/img/alkoholfrei.jpg");
    background-size: cover;
    background-position: center;
}

/* ---> Individual Scrollbar <----------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ddd;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: moccasin;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffd894;
}

/* ---> Increase / Reduce Amount <--------------------------------- */

.reduce-increase-div {
    padding: 0 8px;
}